/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body
{
	background-color:#0A2037;
}

a{
	text-decoration: none;
	font-size: 3em;
	color:#0A2037;
}

a:visited{
	color:#0A2037;
}

article{
	color:#93B2C6;
	font-size: 1.5em;
}

.topbar{
	color:white;
	font-size: 1.5em;
}

#lives{
	color: firebrick;
	font-size: 1em;
}

.cell{
	background-color: #415765;
	/*border-style: solid;
	border-color: black;
	color: firebrick;*/
}

.count-cell{
	background-color: #93B2C6;
	float: right;
}

.fill{
	width: 80%;
	height: 80%;
	background-color: #D5F7FF;
	border-radius: 15%;
	margin-top: 10%;
}

.wrong{
	color: firebrick;
	width: 80%;
	height: 80%;
	/*margin-top: 10%;*/
	font-size: 90%;
	font-family: helvetica;
	font-weight: bold;
}

.flag{
	color: green;
	width: 80%;
	height: 80%;
	/*margin-top: 10%;*/
	font-size: 90%;
	font-family: arial;
	font-weight: bold;
}

#puzzle-list{
	width: 49%;
	float:left;
	clear:both;
}

.puzzle-link{
	background-color: #93B2C6;
	width: 100%;
	float: left;
	margin-left: 1%;
	margin-bottom: 1%;
	border-radius: 10px 8px;  /*3% 15%;*/
	/*border-bottom-left-radius: 3% 15%;
	border-top-right-radius: 3% 15%;
	border-bottom-right-radius: 3% 15%;*/
}

.puzzle-name{
	width: 60%;
}

.puzzle-size{
	float: right;
}

#menu{
	background-color: #93B2C6;
	width: 49%;
	float: left;
	margin-left: 1%;
	margin-bottom: 1%;
	border-radius: 10px 8px;
	font-size: .8em;
	color:#0A2037;
}