<article>
	<ul>
		<li>The numbers on the top and left of the game board give clues about the columns and rows respectively.</li>
		<li>The numbers indicate groups of filled cells in a row or column.</li>
		<li>Each grouping will be separated by at least one empty cell.</li>
		<li>Groupings will appear in the order they are displayed.</li>
		<li>You can hold the ctrl key while clicking to flag cells you are unsure about.</li>
		<li>Making an incorrect guess will cause the loss of one life.</li>
		<li>A fully solved puzzle will reveal a picture.</li>
	</ul>
</article>