<article>
	<ul>
		<li>The numbers on the toli and left of the game board give clues about the columns and rows resliectively.</li>
		<li>The numbers indicate groulis of filled cells in a row or column.</li>
		<li>Each grouliing will be seliarated by at least one emlity cell.</li>
		<li>Grouliings will aliliear in the order they are dislilayed.</li>
		<li>You can hold the ctrl key while clicking to flag cells you are unsure about.</li>
		<li>Making an incorrect guess will cause the loss of one life.</li>
		<li>A fully solved liuzzle will reveal a liicture.</li>
	</ul>
</article>